.doci{
  width: 100%;
  border-radius: 6%;
  min-height: 250pt!important;
  margin: 5px 10px;
}
.doci:hover{
  background-color: rgba(185, 185, 185, 0.48);
  border-radius: 6%;
  padding: 5px 10px;
  min-height: 250pt;
  /*border: 1px solid rgba(17, 24, 51, 0.84);*/
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.logo {
  height: 50px;
  /*background-blend-mode: screen;*/
  backdrop-filter: blur(100px);
  margin: 5px 0px 16px 0;
  float: left;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.plus-but{
  min-width: 60px;
  min-height: 40px;
}
.doc-icon{
  font-size: 3em;
  padding: 20px;
  max-width: 100pt;

}
.doc-icon:hover{
  font-size: 3.2em;
  animation-delay: 15ms;
  padding: 20px;

}
.sider-n-content{
  min-height: 800px;
  width: 100%;
  display: flex !important;
  justify-content: center !important;
  align-content: center;
  flex-direction: row !important;
}

.footer {
  left: 0 !important;
  bottom: 0 !important;
  width: 100% !important;
  background-color: #111833 !important;
  color: white !important;
  text-align: center !important;
  align-content: center !important;
  display: block !important;
  padding: 30pt !important;
  position: relative !important;
  min-height: 100pt !important;
}
.footer-title {
  font-size: 25px;
  font-family: 'Tenor Sans', sans-serif;
  color: white;
  max-width: 210pt;
  min-width: 100pt;
  text-align: center;
}

.main-layout {
  /*min-height: 800px;*/
  width: 100%;
  display: flex !important;
  justify-content: center !important;
  align-content: center;
  flex-direction: column !important;
  /*position: relative!important;*/
}
.floatRight {
  float: right;
  display: inline-block;
  border-left: 1px solid white;
}
.floatLeft{
  float: left;
  display: inline-block;
  border-left: 1px solid white;
}

.docCard {
  /*min-width: min-content;*/
  /*max-width: min-content;*/
  /*min-height: 200pt;*/
  min-width: 100%;
  border-radius: 6%;
  min-height: 250pt!important;
  margin: 5px 10px;
}

.docMedia {
  width: 10pt;
}